env             = ""
project_name    = "cloud-daily-billing-notify-app"
aws_region      = ["ap-northeast-1", "ap-northeast-3"]
aws_az          = ["ap-northeast-1a", "ap-northeast-1c", "ap-northeast-1d"]
assume_role_arn = ""
assume_role_principal_name = ""
github_owner = "yk-private3636"
github_repo = "cloud-daily-billing-notify-app"
s3_tfstate_arn = ""
lambda_get_next_processing_date_image_tag = ""
lambda_aws_cost_collector_image_tag = ""