name: Check Terraform Workflow

on:
  workflow_call:
    inputs:
      github_owner:
        required: true
        type: string
      github_repo:
        required: true
        type: string
    secrets:
      GITHUB_PAT:
        required: true
      AWS_ACCOUNT_ID:
        required: true
      EXECUTOR_ROLE_ARN:
        required: true
      EXECUTOR_ROLE_PRINCIPAL_NAME:
        required: true
      LINE_KID:
        required: true
      LINE_CHANNEL_ID:
        required: true
      TFSTATE_S3_BUCKET_ARN:
        required: true

jobs:
  check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_PAT }}
          fetch-depth: 1
          sparse-checkout: 'infra/'
          
      - name: Configure AWS Credentials for Japan region audience
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          audience: sts.amazonaws.com
          aws-region: ap-northeast-1
          role-to-assume: ${{ secrets.EXECUTOR_ROLE_ARN }}
      
      - name: Set Terraform version from Dockerfile
        id: docker-terraform-version
        working-directory: infra
        run: |
          echo "TERRAFORM_VERSION=$(grep -m 1 BASE_IMAGE ./Dockerfile | awk -F : '{print $2}' | awk -F - '{print $1}' | sed 's/^$/latest/')" >> "$GITHUB_OUTPUT"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{  steps.docker-terraform-version.outputs.TERRAFORM_VERSION }}
      
      - name: Terraform fmt
        working-directory: infra/src/envs/prod
        run: terraform fmt -check

      - name: Setup terraform variables
        id: setup_tfvars
        working-directory: infra/src/envs/prod
        run: |
          cat << EOF > ./terraform.tfvars
          env                                   = "prod"
          project_name                          = "cloud-daily-billing-notify-app"
          aws_region                            = ["ap-northeast-1", "ap-northeast-3"]
          aws_az                                = ["ap-northeast-1a", "ap-northeast-1c", "ap-northeast-1d"]
          account_id                            = "${{ secrets.AWS_ACCOUNT_ID }}"
          executor_role_arn                     = "${{ secrets.EXECUTOR_ROLE_ARN }}"
          executor_role_principal_name          = "${{ secrets.EXECUTOR_ROLE_PRINCIPAL_NAME }}"
          github_owner                          = "${{ inputs.github_owner }}"
          github_repo                           = "${{ inputs.github_repo }}"
          s3_tfstate_arn                       = "${{ secrets.TFSTATE_S3_BUCKET_ARN }}"
          line_kid                             = "${{ secrets.LINE_KID }}"
          line_channel_id                     = "${{ secrets.LINE_CHANNEL_ID }}"
          EOF

      - name: Terraform Init
        working-directory: infra/src/envs/prod
        run: terraform init --input=false

      - name: Terraform Validate
        working-directory: infra/src/envs/prod
        run: terraform validate -no-color

      - name: Terraform Plan
        working-directory: infra/src/envs/prod
        run: terraform plan -no-color -input=false