name: CI Workflow

on:
    workflow_call:
      inputs:
        github_owner:
          required: true
          type: string
        github_repo:
          required: true
          type: string
      secrets:
        GITHUB_PAT:
          required: true
        AWS_ACCOUNT_ID:
          required: true
        EXECUTOR_ROLE_ARN:
          required: true
        EXECUTOR_ROLE_PRINCIPAL_NAME:
          required: true
        TFSTATE_S3_BUCKET_ARN:
          required: true

jobs:
  check-event:
    uses: ./.github/workflows/check-event.yml
    secrets:
      GITHUB_PAT: ${{ secrets.GITHUB_PAT }}

  check-terraform:
    uses: ./.github/workflows/check-terraform.yml
    with:
      github_owner: ${{ inputs.github_owner }}
      github_repo: ${{ inputs.github_repo }}
    secrets:
      GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      EXECUTOR_ROLE_ARN: ${{ secrets.EXECUTOR_ROLE_ARN }}
      EXECUTOR_ROLE_PRINCIPAL_NAME: ${{ secrets.EXECUTOR_ROLE_PRINCIPAL_NAME }}
      TFSTATE_S3_BUCKET_ARN: ${{ secrets.TFSTATE_S3_BUCKET_ARN }}