name: CI Workflow

on:
    workflow_call:
      secrets:
        GITHUB_TOKEN:
          required: true
        AWS_ACCOUNT_ID:
          required: true
        EXECUTOR_ROLE_ARN:
          required: true
        EXECUTOR_ROLE_PRINCIPAL_NAME:
          required: true

jobs:
  
  check-terraform:
    uses: ./.github/workflows/check-terraform.yml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      EXECUTOR_ROLE_ARN: ${{ secrets.EXECUTOR_ROLE_ARN }}
      EXECUTOR_ROLE_PRINCIPAL_NAME: ${{ secrets.EXECUTOR_ROLE_PRINCIPAL_NAME }}